*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    background-color: black;
    height:100%;
    width:100%;
}

input{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

label{
    width:50px;
    height:30px;
    position: absolute;
    top:8%;
    left:5%;
    transform: translate(-50%,-50%);
    z-index: 3;
    cursor: pointer;
}

.tog{
    background-color: white;
    width:50px;
    height:8px;
    position: absolute;
    top:8%;
    left:5%;
    transform: translate(-50%,-50%) rotate(0deg);
    border-radius: 10px;
    transition:all .3s;
}

.bottom{
    margin-top:15px;
}
.top{
    margin-top:-15px;
}

#ham:checked ~ .top{
    margin-top:0px;
    transform: rotate(-45deg);
    margin-left:-20px;
    background-color: #EC2D2D;
}

#ham:checked ~ .bottom{
    margin-top:0px;
    transform: rotate(45deg);
    margin-left:-20px;
    background-color: #EC2D2D;
}

#ham:checked ~ .middle{
   opacity: 0; 
}

.middle{
    transition: .2s;
}